*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0
}
body{
    background: #000;
    color: #ffffff;
    font: 400 15px 'Oxygen';
}
a{
    color: #ffffff;
    text-decoration: none;
}

/* container */
.container{
    max-width: 90%;
    margin: 0 auto;
}

/* display-flex */
.d-flex{
    align-items: center;
    display: flex;
}

/* header */
header{
    position: relative;
    z-index: 99;
}
figure img{
    background: #000;
    opacity: 0.4;
    position: fixed;
    top: 0px;
    height: 100vh;
    z-index: -1;
}

/* contato-header */
header section:first-child{background: #DD9933;}
header section article{
    gap: 20px;
    padding: 10px 0;
}
header p{color: rgb(255, 255, 255);}
/* menu */
header section:last-child{
    justify-content: space-between;
    margin: 40px auto
}
h1{letter-spacing: 2px;}
nav ul{position: relative;}
.d-flex li > a{
    padding: 30px 15px;
}
.d-flex li > a:hover{
    color: #FFD500;
}
nav{
    vertical-align: middle;
}
.dropdown{
    background: #fff;
    display: none;
    left: 160px;
    position: absolute;
    top: 50px;
}
ul li:nth-child(3):hover .dropdown{display: block;}
.dropdown li a{
    color: rgb(22, 22, 22);
    display: block;
    padding: 10px 25px 10px 10px;
}
.dropdown li a:hover{color: rgb(22, 22, 22);}
.dropdown li:hover{background: #ccc;}
main section{
    text-align: center;
    z-index: 99;
}
main p{
    font-size: 19px;
    margin: 10px 0 35px;
}
h2{
    font: 900 90px/100px 'Oswald';
    letter-spacing: 4px;
    margin-bottom: 90px;
}
span{
    display: block;
    font-weight: 400;
}
main section a{
    background: #DBAF76;
    border-radius: 6px;
    padding: 15px 40px;
}
#menu{display: none;}
@media screen and (max-width: 1024px){
    html{overflow: hidden;}
    #menu{
        display: block;
        padding: 20px;
    }
    h1{width: 65%;}
    header section article{
        justify-content: space-between;
    }
    /* nav{display: none;} */
    nav{
        background: #fff;
        display: flex;
        left: 0px;
        right: 0px;
        position: absolute;
        top: 160px;
        width: 100vw;
    }
    nav ul{
        flex-direction: column;
    }
    .d-flex li > a{
        color: #000;
        display: block;
        padding-left: 50px;
        width: 100vw;
    }
    .dropdown{
        position: relative;
        left: 0px;
        top: 0px;
    }
    ul li:nth-child(3):hover .dropdown, nav{display: none;}
    .dropdown li a{padding-left: 70px;}
    h2{
        font: 900 45px/50px 'Oswald';
        letter-spacing: 4px;
        margin-bottom: 90px;
    }
    figure img{
        transform: translate(-30%, 0);
    }
}